<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Salas</title>
</head>
<body>
    <h1>Lista de Salas</h1>
    <ul>
        {% for sala in salas %}
            <li>Sala {{ sala.numero }} - <a href="{% url 'sala_update' sala.pk %}">Editar</a> - <a href="{% url 'sala_delete' sala.pk %}">Excluir</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'sala_create' %}">Cadastrar Nova Sala</a>
</body>
</html>