<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Horários</title>
</head>
<body>
    <h1>Lista de Horários</h1>
    <ul>
        {% for horario in horarios %}
            <li>{{ horario.hora }} - {{ horario.get_periodo_display }} - <a href="{% url 'horario_update' horario.pk %}">Editar</a> - <a href="{% url 'horario_delete' horario.pk %}">Excluir</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'horario_create' %}">Cadastrar Novo Horário</a>
</body>
</html>