<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Turmas</title>
</head>
<body>
    <h1>Lista de Turmas</h1>
    <ul>
        {% for turma in turmas %}
            <li>{{ turma.nome }} - <a href="{% url 'turma_update' turma.pk %}">Editar</a> - <a href="{% url 'turma_delete' turma.pk %}">Excluir</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'turma_create' %}">Cadastrar Nova Turma</a>
</body>
</html>