<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Matérias</title>
</head>
<body>
    <h1>Lista de Matérias</h1>
    <ul>
        {% for materia in materias %}
            <li>{{ materia.nome }} - <a href="{% url 'materia_update' materia.pk %}">Editar</a> - <a href="{% url 'materia_delete' materia.pk %}">Excluir</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'materia_create' %}">Cadastrar Nova Matéria</a>
</body>
</html>